<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911567371890-hleg8bm1qi3j21snlg52uh210epqio87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911567371890-hleg8bm1qi3j21snlg52uh210epqio87</string>
	<key>API_KEY</key>
	<string>AIzaSyBLxO8uVYzzXt4dg-OmmE2ox-rWCHsyEPc</string>
	<key>GCM_SENDER_ID</key>
	<string>911567371890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Josiah-Agosto.FixIt</string>
	<key>PROJECT_ID</key>
	<string>fixit-e99ab</string>
	<key>STORAGE_BUCKET</key>
	<string>fixit-e99ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:911567371890:ios:9da258c172df0e72604ceb</string>
	<key>DATABASE_URL</key>
	<string>https://fixit-e99ab.firebaseio.com</string>
</dict>
</plist>
